<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TapTape.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>384D3D1D1EA0635800A582A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>384D3D341EA0635800A582A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>384D3D3F1EA0635900A582A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
